.circle {
    display: inline-block;
    border-radius: 25%;
    width: 101px;
    height: 101px;
    position: absolute;
    left: 45%;
    bottom: 100%;
    background: black;
}
#log{
    display: inline-block;
    width: 95px;
    height: 50px;
    position: absolute;
    left: 45.3%;
    bottom: 25px;
}
#logjs{
    opacity: 0;
    display: inline-block;
    border-radius: 30%;
    width: 95px;
    height: 95px;
    position: absolute;
    left: 45.3%;
    bottom: -10px;
}
#logjs2{
    opacity: 0;
    display: inline-block;
    border-radius: 30%;
    width: 96px;
    height: 96px;
    position: absolute;
    left: 45.3%;
    bottom: -10px;
}
#node{
    opacity: 0;
    display: inline-block;
    border-radius: 30%;
    width: 96px;
    height: 96px;
    position: absolute;
    left: 45.3%;
    bottom: -10px;
}
#react{
    opacity: 0;
    display: inline-block;
    border-radius: 30%;
    width: 96px;
    height: 96px;
    position: absolute;
    left: 45.3%;
    bottom: -10px;
}
#skill{
    opacity: 0;
    display: inline-block;
    border-radius: 30%;
    width: 96px;
    height: 96px;
    position: absolute;
    left: 45.3%;
    bottom: -10px;
}
#angular{
    opacity: 0;
    display: inline-block;
    border-radius: 30%;
    width: 96px;
    height: 96px;
    position: absolute;
    left: 45.3%;
    bottom: -10px;
}
#css{
    opacity: 0;
    display: inline-block;
    border-radius: 30%;
    width: 96px;
    height: 96px;
    position: absolute;
    left: 45.3%;
    bottom: -10px;
}
#git{
    opacity: 0;
    display: inline-block;
    border-radius: 30%;
    width: 96px;
    height: 96px;
    position: absolute;
    left: 45.3%;
    bottom: -10px;
}
#per{
    opacity: 0;
    display: inline-block;
    border-radius: 30%;
    width: 96px;
    height: 96px;
    position: absolute;
    left: 45.3%;
    bottom: -10px;
}
#ts{
    opacity: 0;
    display: inline-block;
    border-radius: 30%;
    width: 96px;
    height: 96px;
    position: absolute;
    left: 45.3%;
    bottom: -10px;
}
@media only screen and  (min-width: 768px) and (max-width: 940px) {
    .circle {
        display: inline-block;
        border-radius: 15%;
        width: 70px;
        height: 40px;
        position: absolute;
        left: 57.5%;
        bottom: 10%;
        background: black;
    }
    #log{
        display: inline-block;
        width: 45px;
        height: 20px;
        position: absolute;
        left: 59.7%;
        bottom: 11px;
    }
    #logjs{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 40px;
        height: 40px;
        position: absolute;
        left: 62.3%;
        bottom: -10px;
    }
    #logjs2{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 62.3%;
        bottom: -10px;
    }
    #html{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 62.3%;
        bottom: -10px;
    }
    #node{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 62.3%;
        bottom: -10px;
    }
    #ts{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 62.3%;
        bottom: -10px;
    }
    #react{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 63.3%;
        bottom: -10px;
    }
    #per{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 59.7%;
        bottom: -10px;
    }
    #skill{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 58.3%;
        bottom: -10px;
    }
    #angular{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 65.3%;
        bottom: -10px;
    }
    #css{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 59.3%;
        bottom: -10px;
    }
    #git{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 58.3%;
        bottom: -10px;
    }
    
}

@media only screen and (min-width: 400px) and (max-width: 767px){
    .circle {
        opacity: 1;
        display: inline-block;
        border-radius: 15%;
        width: 70px;
        height: 40px;
        position: absolute;
        left: 37.5%;
        bottom: 10%;
        background: black;
    }
    #log{
        opacity: 1;
        display: inline-block;
        width: 45px;
        height: 20px;
        position: absolute;
        left: 43.5%;
        bottom: 11px;
    }
    #logjs{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 40px;
        height: 40px;
        position: absolute;
        left: 45.3%;
        bottom: -10px;
    }
    #logjs2{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 62.3%;
        bottom: -10px;
    }
    #html{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 66.3%;
        bottom: -10px;
    }
    #node{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 62.3%;
        bottom: -10px;
    }
    #ts{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 62.3%;
        bottom: -10px;
    }
    #skill{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 45.3%;
        bottom: -10px;
    }
    #angular{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 45.3%;
        bottom: -10px;
    }
    #css{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 35.3%;
        bottom: -10px;
    }
    #git{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 45.3%;
        bottom: -10px;
    }
    #per{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 35.3%;
        bottom: -10px;
    }
    #react{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 45.3%;
        bottom: -10px;
    }
    
}

@media only screen and (min-width: 20px) and  (max-width: 399px){
    .circle {
        opacity: 1;
        display: inline-block;
        border-radius: 15%;
        width: 60px;
        height: 30px;
        position: absolute;
        top: -20.5px;
        left: -10.5%;
        bottom: 10%;
        background: black;
    }
    #log{
        opacity: 1;
        display: inline-block;
        width: 45px;
        height: 20px;
        position: absolute;
        top: -15px;
        left: 15.4%;
        bottom: 11px;
    }
    #logjs{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 23px;
        height: 23px;
        position: absolute;
        left: 75.5%;
        bottom: -10px;
    }
    #logjs2{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 20.3%;
        bottom: -10px;
    }
    #html{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 62.3%;
        bottom: -10px;
    }
    #node{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 62.3%;
        bottom: -10px;
    }
    #ts{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 62.3%;
        bottom: -10px;
    }
    #skill{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 45.3%;
        bottom: -10px;
    }
    #angular{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 45.3%;
        bottom: -10px;
    }
    #css{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 45.3%;
        bottom: -10px;
    }
    #git{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 45.3%;
        bottom: -10px;
    }
    #per{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 45.3%;
        bottom: -10px;
    }
    #react{
        opacity: 0;
        display: inline-block;
        border-radius: 30%;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 45.3%;
        bottom: -10px;
    }

}


