.circle {
    display: inline-block;
    border-radius: 25%;
    width: 101px;
    height: 101px;
    position: absolute;
    left: 45%;
    bottom: 100%;
    background: black;
}

#log{
    display: inline-block;
    width: 95px;
    height: 50px;
    position: absolute;
    left: 45.3%;
    bottom: 25px;
}

#logjs{
    display: inline-block;
    border-radius: 30%;
    width: 95px;
    height: 95px;
    position: absolute;
    left: 45.3%;
    bottom: -10px;
}

#logjs2{
    display: inline-block;
    border-radius: 30%;
    width: 95px;
    height: 95px;
    position: absolute;
    left: 45.3%;
    bottom: -10px;
}

