#blog h3, h4{
    text-align: center;
}
#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#blog article{
    margin: 15px;
}

#blog img{
    width: 100%;
    max-width: 250px;
    height: 90%;
    max-height: 250px;
}