#contact {
    width: 90%;
    height: 80%;
    margin: auto;
}

.container-fluid {
    background: whitesmoke;
}

.col-xs-12 h2{
    display: flex;
justify-content: center;

}

label{
    color: #333;
    font-size: 30px;
    width: 10%;
    margin: 60px;
}
/* inputs */
.form-control{
    width: 70%;
    height: 50px;
    font-size: 25px;
    border: none;
    background: whitesmoke;
}

.form-group{
margin: 30px;
}

textarea{
    height: 100%;
}