#contact {
    padding-top: 60px;
    width: 90%;
    height: 80%;
    margin: auto;
}

.container-fluid {
    background: black;
}

.col-xs-12 h2{
    color: #fff;
    display: flex;
justify-content: center;

}

label{
    color: #fff;
    font-size: 30px;
    width: 10%;
    margin: 60px;
}
/* inputs */
.form-control{
    width: 70%;
    height: 50px;
    font-size: 25px;
    border: none;
    background: black;
    color: whitesmoke;
}

.form-group{
margin: 30px;
}

textarea{
    height: 100%;
    transform: translateX(5%);
}
button{
    position: absolute;
    left: 45%;
    margin: 45px;
    color: #0b85aaea;
    background: none;
    width: 120px;
    font-size: large;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #0b85aaea;
}
