#experience {
    background: whitesmoke;
    color: #333;
    text-align: center;
    padding: 20px;
}

#experience .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.experience-tec{
    margin: 120px;
}

.experience-tec img{
    width: 220px;
    height: 220px;
    border-radius: 10%;
    border: 12px solid #0b85aaea;

}

@media (min-width: 720px){
    .experience-tec{
        width: 60%;
    }
}

@media (min-width: 480px){
    .experience-tec{
        width: 10%;
    }
}

@media (min-width: 1024px){
    .experience-tec{
        width: 10%;
    }

    
}