
    iframe{
        padding: 0px;
        margin-top: 0%;
       
    }
    

  @media (max-width: 768px){
    iframe{
        padding-top: 0;
        margin: 10px;
        width: 94%;
        max-width: 100%;
        max-height: 60%;
    }
}