header .contenedor{
    display: table;
}

section { 
    width: 100%;
    margin-bottom: 25px;
}

#Bienvenidos{
    text-align: center;
}


footer .bienvenidos{
    /* display: flex; */
    
    flex-wrap: wrap;
    padding-bottom: 55px;
    background: rgb(255, 255, 255);
    width: 100%;
    left: 50%;

}

